<launch>

  <node name="floribot_task3" pkg="floribot_task3" type="floribot_task3_node">
    <remap from="task_cmd_vel" to="cmd_vel"/>
      <param name="tick_rate" value="50" type="int"/>
      <param name="x_hist_max" value="2" type="double"/>
      <param name="y_hist_min" value="-2" type="double"/>
      <param name="y_hist_max" value="2" type="double"/>
      <param name="y_hist_width" value="0.1" type="double"/>
      <param name="turn_vel_x" value="0.2" type="double"/>
      <param name="plant_distance" value="0.15" type="double"/>
      <param name="prob_threshold" value="0.2" type="double"/>
      <param name="max_scan_distance" value="1.0" type="double"/>
      <param name="row_width" value="0.75" type="double"/>
      <param name="x_sec" value="1" type="double"/>
      <param name="plant_width" value="0.05" type="double"/>
      <param name="direction" value="1" type="int"/>
      <param name="x_hist_width" value="0.1" type="double"/>
      <param name="leav_vel_x" value="0.5" type="double"/>
      <param name="robot_width" value="0.4" type="double"/>
      <param name="turn_vel_yaw" value="0.6" type="double"/>
      <param name="x_hist_min" value="0" type="double"/>
      <param name="leav_time" value="0.4" type="double"/>
      <param name="turn_time" value="1.7" type="double"/>
  </node>
  <!-- include file="$(find floribot_stage)/launch/floribot_stage.launch" / -->
</launch>
